.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.ui.label {
  background-color: #e9bc1b;
  font-family: "Courier New", Courier, monospace;
}

.ui.card > .weather-season {
  background-color: #000;
  text-transform: capitalize;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.ui.card .weather-alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.ui.card .weather-alert .weather-activity {
  margin: 0;
}

.ui.winter .weather-alert {
  background-color: aliceblue;
}

.ui.summer .weather-alert {
  background-color: orange;
}

.season-display.winter .icon {
  color: blue;
}

.season-display.summer .icon {
  color: red;
}
